#requestElement {
  display: flex;
  transition: 0.3s;
  height: 2.1rem;
  width: 52.35rem;
  border-left: solid 1px #edebe9;
  border-right: solid 1px #edebe9;
  border-top: solid 1px #edebe9;
  font-family: Segoe UI;
  font-size: 14px;
  color: #201f1e;
  user-select: none;
  background-color: white;
}

.requestContainer h1 {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

.requestContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.requestText {
  width: 37.5rem;
}

.topRequestArea {
  width: 54.35rem;
}

.requestElementContainer {
  display: flex;
  align-items: center;
}

.requestIcon {
  color: #605e5c;
  margin-right: 1rem;
}

.requestSelect:focus-visible {
  outline: none;
}

.requestSelect {
  cursor: pointer;
  border-bottom: none;
  padding-left: 0.5rem;
}

.requestSelect:focus {
  border-color: rgb(91, 95, 199) !important;
}

.requestElementContainer {
  margin-top: 1rem;
}

.RequestDurationComponentContainer {
  border: none;
}

.requestDescription {
  width: 75rem;
  height: 10rem !important;
}

.requestDescriptionElementContainer {
  align-items: flex-start;
}

.requestIconLines {
  margin-top: 0.5rem;
}

.createContent {
  font-weight: 600;
  margin-right: 7.45rem;
  margin-left: 0.75rem;
  width: 18.25rem;
}

.createOOF,
.createPost {
  display: flex;
  align-items: center;
  user-select: none;
  width: fit-content;
}

.teamsLogo {
  width: 1.5rem;
}

#makeRequestBtn {
  font-weight: 600;
  color: white;
  background-color: #0078d4;
  border-radius: 2px;
  width: 8.125rem;
  height: 2rem;
}

#resetRequestBtn {
  font-weight: 600;
  color: #201f1e;
  background-color: white;
  border-radius: 2px;
  width: 4.688rem;
  height: 2rem;
  margin-left: 1.5rem;
}
