.navContainer {
  height: 56rem;
  width: 13rem;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navContainer::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 48px;
  background: #0078d4;
  top: 0;
  transition: 0.3s;
}

.activeBar2::after {
  top: 48px;
}

.activeBar3::after {
  top: 96px;
}

.arrow {
  display: inline-flex;
  margin-left: 1rem;
  transform: rotate(45deg) translateY(-0.3rem);
  height: 5px;
  width: 5px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transition: 0.3s;
}

.dropdown {
  margin-left: 2.9rem;
  height: 0rem;
  transition: 0.8s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.showed {
  height: 16rem;
}

.arrowRotate {
  transform: rotate(225deg);
}

.dropdown {
  cursor: pointer;
}

.subSettings:hover {
  background-color: #edebe9;
}

.itemContainer p {
  margin-left: 1.6rem;
  margin-top: -0.5rem;
}

.link,
.menuFooter {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #201f1e;
  font-size: 14px;
  margin: 0;
}

.itemContainer {
  display: flex;
  cursor: pointer;
  align-items: flex-end;
  height: 3rem;
}

.itemContainer:hover {
  background-color: #edebe9;
}

.itemContainer input {
  height: 0;
  width: 0;
  opacity: 0;
}

.active {
  background-color: #edebe9;
}

.active p {
  font-weight: 600;
}

.subSettings {
  height: 3rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

.subSettings p {
  margin: 0;
}

.nav-bar {
  padding: 0;
}

.menuIcon {
  transform: translate(-8px, 25%);
}

.itemContainer:nth-child(2) p {
  margin-left: 2.85rem;
}
