.requestDurationElement {
  width: 6.9rem;
  height: 2rem;
  border-radius: 2px;
  cursor: pointer;
  padding: 0.4rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.requestDurationElement p {
  margin: 0;
}

.RequestDurationContainer {
  display: grid;
  grid-template-columns: 6.9rem 9.95rem 6.9rem;
  grid-template-rows: repeat(2, 2rem);
  grid-gap: 0.5rem;
}

.requestTime1,
.requestTime2 {
  width: 9.95rem;
}

.requestDate1,
.requestDate2 {
  border: 1px solid #edebe9;
  text-align: center;
}

.requestDatePicker {
  margin-top: 0.3rem;
}

.fieldGroup-107 {
  background: none;
  border: none;
}

.readOnlyPlaceholder-104 {
  font-size: 15px;
  width: 6.9rem;
}

.readOnlyTextField-103 {
  width: 8.9rem;
  font-size: 14px;
  margin-left: 1rem;
}
